---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    # v6.0.0
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace

  - repo: https://github.com/koalaman/shellcheck-precommit
    # v0.11.0
    rev: 99470f5e12208ff0fb17ab81c3c494f7620a1d8d
    hooks:
      - id: shellcheck
        args: ["--norc", "--severity=warning"]

  - repo: https://github.com/JohnnyMorganz/StyLua
    # v2.3.1
    rev: 9c323db146963b04b919c83276d43ca7817da5e2
    hooks:
      - id: stylua-system

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    # 3.6.0
    rev: 11ea70506fd878d26129b2b87746fd1a1f6b561b
    hooks:
      - id: editorconfig-checker
        alias: ec

  - repo: https://github.com/adrienverge/yamllint
    # v1.37.1
    rev: 79a6b2b1392eaf49cdd32ac4f14be1a809bbd8f7
    hooks:
      - id: yamllint
        args: ["--strict"]
