"$schema" = 'https://starship.rs/config-schema.json'

# https://starship.rs/config
# https://www.nerdfonts.com/cheat-sheet

# TODO: transient prompt (zsh)
#  - https://github.com/starship/starship/discussions/5950
#  - https://gist.github.com/abomhold/1fb6a1768c09bd4cb1f06dc939a5f52f

# configure the format of the prompt
format = """
$hostname\
$username\
$directory\
$git_branch\
$git_status\
$git_commit\
$fill\
$status\
$cmd_duration\
$jobs\
$direnv\
$docker_context\
$kubernetes\
$haskell\
$lua\
$nodejs\
$python\
$c\
$rust\
$line_break\
$character
"""

# inserts blank line between shell prompts
# disabled, see: https://github.com/starship/starship/issues/560
add_newline = false

# ////////////////////////////////////////////////
# LINE 1
# ////////////////////////////////////////////////

# fills any extra space on the line with a symbol
[fill]
symbol = " "
disabled = false

# shows the system hostname
[hostname]
format = '[$ssh_symbol$hostname]($style) '

# shows the path (possibly truncated or shortened) to the current directory
[directory]
truncation_length = 8
truncate_to_repo = false
fish_style_pwd_dir_length = 1
#style = "bright-yellow"
#style = "blue bold"
style = "green bold"
format = "[$path]($style) "

# shows the active branch of the repo in current directory
[git_branch]
symbol = ""
#style = "purple"
format = '[$symbol $branch ]($style)'

[git_commit]
style = "purple bold"
disabled = false

[git_status]
#style = "dimmed red bold"
conflicted = "=$count"
stashed = "\\$$count"
deleted = "✘$count"
renamed = "»$count"
modified = "!$count"
staged = "+$count"
untracked = "?$count"
diverged = "⇕$ahead_count:$behind_count"
ahead = "⇡$ahead_count"
behind = "⇣$behind_count"

# ////////////////////////////////////////////////
# MODULES RIGHT
# ////////////////////////////////////////////////

# TODO: symbols from nf
# displays the exit code of the previous command
[status]
disabled = false

# shows how long the last command took to execute
[cmd_duration]
style = "yellow"
format = "[ $duration]($style) "

# Environments

[direnv]
style = "dimmed blue"
symbol = " "
format = '[$symbol$loaded]($style) '
disabled = false

[docker_context]
style = "dimmed blue"
symbol = " "
format = '[$symbol$context]($style)'

[kubernetes]
style = "dimmed blue"
symbol = "☸ "
format = '[$symbol$context( \($namespace\))]($style) '

# Virtual Environments
[haskell]
style = "dimmed blue"
symbol = " "
format = '[$symbol($version )]($style)'

[lua]
style = "dimmed blue"
symbol = " "
format = '[$symbol($version)]($style)'
disabled = true

[nodejs]
style = "dimmed blue"
symbol = " "
format = '[$symbol($version)]($style)'

[python]
style = "dimmed blue"
symbol = " "
format = '[$symbol($version )(\($virtualenv\) )]($style)'

### Language toolchains

[c]
style = "dimmed red"
symbol = " "
format = '[$symbol($version)]($style)'
disabled = true

[rust]
style = "dimmed red"
symbol = " "
format = '[$symbol($version)]($style)'
disabled = true

# ////////////////////////////////////////////////
# LINE 2
# ////////////////////////////////////////////////

# separates the prompt into two lines
[line_break]
disabled = false

# shows a character beside where the text is entered in terminal
[character]
disabled = false
